@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
:root {
  --primary: #3a3a3a;
  --primary-dark: #302d2d;
  --green: #008104;
  --red: #ff0000;
}

* {
  margin: 5;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--primary);
}

.container {
  display: grid;
  place-items: center;
  height: 100vh;
}

.box {
  background-color: yellow;
  width: 450px;
  height: 850px;
  padding: 20px;
  background-color: var(--primary-dark);
  color: white;
  position: absolute;
  box-shadow: 5px 5px 50px rgb(0,0,0);
}
p {
  font-size: 14px;
}
h1 {
  font-weight: 800;
  font-size: 34px;
  margin-top: 100px;
}
h2 {
  font-weight: 500;
  font-size: 24px;
  margin-top: 1px;
}
h3 {
  font-weight: 400;
  font-size: 25px;
  margin-top: 5px;
}

.box_upper,
.balance {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.balance {
  margin-top: 5px;
}

.transaction_container {
  margin-top: -10px;
}

.transactions {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.transaction {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
}
.transaction .left {
  padding: 7px;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content {
  display: flex;
}
.lower {
  margin-top: -15px;
  padding: 10px;
  gap: 20px;
  display: none;
}
.lower img {
  height: 15px;
}
.showTransaction {
  display: flex;
}
.status {
  display: grid;
  place-items: center;
  color: white;
  min-height: 40px;
  min-width: 40px;
}
.credit {
  background-color: var(--green);
}
.debit {
  background-color: var(--red);
}

.transaction_form {
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: black;
  padding: 20px;
}
.transaction_form h3 {
  margin-bottom: 10px;
}

.form_control {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.form_control:first-child {
  flex: 1;
}
.inputs {
  display: flex;
  gap: 10px;
}
form input {
  padding: 10px 15px;
  outline: 1px solid transparent;
  border: 1px solid black;
  width: 100%;
}
form input:focus-visible {
  outline: 1px solid var(--primary-dark);
  border: 1px solid var(--primary-dark);
}

.buttons_container {
  display: flex;
  margin-top: 10px;
}
.buttons_container button {
  width: 100%;
  height: 45px;
  color: white;
  border: none;
  opacity: 0.8;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.buttons_container button:hover {
  opacity: 1;
  transition: 0.2s ease-in-out;
}

#earnBtn {
  background-color: var(--green);
}
#expBtn {
  background-color: var(--red);
}

@media (max-width: 500px) {
  .box {
    width: 95%;
  }
}
